<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload photo</title>
</head>

<body>
    <form id="myForm" method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="checkbox" name="i_have_read_and_agree_with_the_rules" class="checkboxAGB" required="" id="id_i_have_read_and_agree_with_the_rules">
        <label for="id_i_have_read_and_agree_with_the_rules">I have read and agree with the rules</label>
        <br>
        <button type="submit">Upload</button>
    </form>
</body>
</html>

